---

- name: Fail if required Overseerr settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - overseerr_uid
    - overseerr_gid
    - overseerr_hostname

- name: Fail if Overseerr architecture is not supported
  ansible.builtin.fail:
    msg: >
      Your configuration specifies a CPU architecture (`{{ overseerr_arch }}`) which is not currently supported.
      This Overseerr role also does not support self-building yet, so it's not possible to make use of it.
  when: "overseerr_arch not in ['amd64', 'arm64']"

- name: Validate Overseerr Traefik configuration
  when: overseerr_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required Overseerr Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - overseerr_container_labels_traefik_hostname
        - overseerr_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `overseerr_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if overseerr_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          overseerr_container_labels_traefik_path_prefix (`{{ overseerr_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/overseerr`).
      when: "overseerr_container_labels_traefik_path_prefix != '/' and overseerr_container_labels_traefik_path_prefix[-1] == '/'"
